extends ../layouts/layout

mixin pilotRow(pilot)
  tr(id="pilot-#{ list._id }")
    td: a(href="/pilot/#{ list._id }")= list.name

block content
  h1 Pilot List:
  table
    thead
      tr
        th Name
    tbody
      - each pilot in pilots
        +pilotRow(list)
