extends views/layouts/layout

mixin pilotRow(pilot)
  tr(id="pilot-#{ pilot._id }")
    td: a(href="/pilot/#{ pilot._id }")= pilot.name

block content
  h1 Pilot List:
  table
    thead
      tr
        th Name
    tbody
      - each pilot in pilots
        +pilotRow(pilot)
