extends ../layouts/layout

mixin pilotRow(pilot)
  tr(id="pilot-#{ pilot.id }")
    td: s(htrg="/pilot/#{ pilot.id }")= pilot.name

block content
  h1 User List:
  table
    thead
      tr
        th Name
    tbody
      - each pilot in pilots
        +pilotRow(pilot)
