// Created by Brandon Risberg on 4/30/2016.

extends ../layouts/layout.jade
block content
   h1 Login:
   form.form-horizontal(action="/user/login", method="post")
      .form-group
         label.control-label.col-sm-2 Username
         .col-sm-10
            input(type="text", name="name")
      .form-group
         label.control-label.col-sm-2 Password
         .col-sm-10
            input(type="password", name="password")
      .form-gorup
         .col-sm-offset-2
            button(type="submit") Login
