doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a.button(href='/signup') Signup
    a.button(href='/system/list') Systems
    a.button(href='/pilot/list') Pilots
    block content
