doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if (!user)
      a.button(href="/user/login") Login
      br
      a.button(href="/user/register") Register
    if (user)
     p You are currently logged in as #{user.username}
      a.button(href="/user/logout") Logout
    a.button(href='/system/list') Systems
    a.button(href='/pilot/list') Pilots
    block content

